[tool.poetry]
name = "jira2markdown"
version = "0.1.8"
description = "Convert text from JIRA markup to Markdown using parsing expression grammars"
authors = ["Evgeniy Krysanov <evgeniy.krysanov@gmail.com>"]
readme = "README.md"
repository = "https://github.com/catcombo/jira2markdown"
packages = [
    { include = "jira2markdown" },
]
keywords = ["jira", "markdown"]
classifiers = [
    "Topic :: Text Processing :: Markup",
    "Topic :: Text Processing :: Markup :: Markdown",
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Intended Audience :: Developers",
]

[tool.poetry.dependencies]
python = "^3.6"
pyparsing = "^2.4"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
flake8 = "^3.8"
flake8-quotes = "^3.2"
flake8-coding = "^1.3"
flake8-commas = "^2.0"
flake8-import-order = "^0.18"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
