name: CI

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.7

      - name: Install Poetry
        run: |
          pip install poetry
          poetry config virtualenvs.path ~/.cache/pypoetry/virtualenvs

      - name: Restore virtualenv from cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: poetry-${{ hashFiles('poetry.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: poetry install

      - name: Run linter
        run: poetry run flake8

      - name: Run tests
        run: poetry run pytest
